.button {
  background-color: rgb(128, 128, 128);
  width: 15rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.3rem;
  margin: 4rem 32rem;
  cursor: pointer;
}

.list {
  width: 10rem;
  margin: 0 auto;
}
